body {
	background-color: #e8e8e8;
}
.jumbotron {
	background-image: url(../images/bg-jumbo.png);
	background-size: cover;
	color: white;
}

.jumbotron p {
	padding-bottom: 150px;
}


a {
	color:orange;
	text-decoration: underline;
}

.table {
	margin-bottom: 80px;
}


.dropdown {
	position: absolute;;
	bottom: 0;
	right: 0;
}